<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Apollo pagination demo!
  </h1>

  <div class="row">
    <div class="steps col-xs-6">
      <h3>Steps</h3>
      <div class="item">
        1. Press load all patients button ( so all patients will be cached localy )
        <button mat-raised-button color="accent" (click)="getAllPatients()"> Load all patients from server </button>
      </div>
      <div class="item"> 2. Turn off server </div>
      <div class="item"> 3. Create a patient ( so all persisted queries will be invalid and deleted) </div>
      <div class="item"> 4. Navigate between table pages and filter patients ( table will try to resolve data locally )</div>
    </div>

    <div class="steps col-xs-4">
      <h3>ROOT QUERY keys</h3>

      <div *ngFor="let item of root_query | keyvalue">
        <b>{{item.key}}</b> => {{item.value.length || 0}} items
      </div>
    </div>
  </div>


  <div class="row">

    <app-create-patient class="col-xs-4 card card-3" style="min-height: 300px;">
    </app-create-patient>

    <app-patients-list class="col-xs-6" style="min-height: 300px;">
    </app-patients-list>

  </div>

</div>


<!-- <router-outlet></router-outlet> -->
